* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  /* padding: 0 calc(20px - (100vw - 100%)) 0 0; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #e5e5e5;
}
input,
button,
textarea {
  font-family: inherit;
}
[hidden] {
  display: none;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

/*--------------------*/
@font-face {
  font-family: 'inter';
  font-display: swap;
  src: local('inter'), url('./fonts/Inter-UI-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*--------------------*/
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: white !important;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #1890ff !important;
}

.css-1p5q5e5-MuiStack-root {
  max-width: 941px !important;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
    margin: 0 !important;
  }
}
